<div class="app-title">Health APP</div>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">username:</ion-label>
      <ion-input  [(ngModel)]="user.username" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <div class="login-btn-con">
    <ion-button expand="block"  (click)="loginBtnClick()">Enter</ion-button>
    <div *ngIf="showError"  class="error-message">
      Username is required.
    </div>

    <div *ngIf="usernameTaken"  class="error-message">
      Username is already taken.
    </div>
  </div>
 
</ion-content>