.checkbox-con {
    height: 80px;
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    align-items: center;
  }
   
  .login-btn-con {
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }


  .app-title {
    height: 200px;
    text-align: center;
    font-size: 50px;
    line-height: 200px;
  }
  
  .error-message {
    color: red;
  }