<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="../../assets/icon/userIcon.jpeg">
      </ion-avatar>
    </ion-buttons>
    <ion-title>
      Hello,{{username}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>
    Attack Records
  </ion-title>
  <ion-list>
    <ion-card *ngFor="let item of records" (click)="clickItem(item)">
      <ion-card-header>
        <ion-card-title>Record: {{item.attackId}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        More details about the record...
      </ion-card-content>
    </ion-card>
  </ion-list>


  <ion-button id="open-modal" expand="block" (click)="setOpen(true,'add')">ADD RECORD</ion-button>
  <ion-modal trigger="open-modal"  [isOpen]="isModalOpen">
    <ng-template>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Attack Record</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form (ngSubmit)="onSubmit()" [formGroup]="myForm" >
            <ion-list>
              <ion-item>
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-label stacked>Attack Time:</ion-label>
                <ion-datetime-button datetime="datetime"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="datetime" 
                    formControlName="attackDate"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <ion-item>
                <ion-icon name="location" slot="start"></ion-icon>
                <ion-label stacked>Location:</ion-label>
                <ion-radio-group formControlName="location">
                  <ion-radio  value="'INSIDE'">INSIDE</ion-radio>
                  <ion-radio  value="'OUTSIDE'">OUTSIDE</ion-radio>
                </ion-radio-group>
              </ion-item>
            </ion-list>
        
            <ion-button  id="formSubBtn" type="submit">Save</ion-button>

            <ion-alert
            trigger="formSubBtn"
            message="Success!"
            [buttons]="alertButtons"
            ></ion-alert>

            <ion-button  color="medium"  (click)="setOpen(false,'close')">Close</ion-button>
            
          </form>   
        </ion-card-content>
      </ion-card>
</ng-template>
</ion-modal>
 
</ion-content>
